import(
  survival,
  Formula
)

importFrom("graphics", "legend", "matplot")
importFrom("stats", "formula", "model.extract", "model.matrix", "nlm",
             "pchisq", "pnorm", "terms")

exportPattern(hr, threg)

S3method(hr, threg)
S3method(print, threg)
S3method(plot, threg)
S3method(predict, threg)

